<robot name="r2000ic_165f" xmlns:tesseract="https://github.com/tesseract-robotics/tesseract" tesseract:make_convex="true">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="201" />
      <origin xyz="-.104 -.00417 .135" />
      <inertia ixx="6.34" ixy=".076" ixz="-.138" iyy="12.3" iyz=".00678" izz="15.7" />
    </inertial>
  </link>

  <link name="J1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="381" />
      <origin xyz=".0206 .0683 -.123" />
      <inertia ixx="19.7" ixy="3.79" ixz="-1.49" iyy="27.5" iyz="-.516" izz="32.1" />
    </inertial>
  </link>

  <joint name="J1" type="revolute">
    <origin xyz="0 0 0.67" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="J1_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.228859" upper="3.228859" effort="10000" velocity="2.268928" />
  </joint>

  <link name="J2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="211" />
      <origin xyz="-.00183 .229 .441" />
      <inertia ixx="27.6" ixy=".107" ixz="-.763" iyy="28.4" iyz="-2.1" izz="4.04" />
    </inertial>
  </link>

  <joint name="J2" type="revolute">
    <origin xyz="0.312 0 0" rpy="0 0 0" />
    <parent link="J1_link" />
    <child link="J2_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.047197" upper="1.326450" effort="20000" velocity="2.007128" />
  </joint>

  <link name="J3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="267" />
      <origin xyz=".324 .055 .127" />
      <inertia ixx="8.35" ixy="1.22" ixz="-3.34" iyy="26" iyz=".436" izz="26.4" />
    </inertial>
  </link>

  <joint name="J3" type="revolute">
    <origin xyz="0 0 1.075" rpy="0 0 0" />
    <parent link="J2_link" />
    <child link="J3_link" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.378810" upper="3.141592" effort="20000" velocity="2.181661" />
  </joint>

  <link name="J4_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j4.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="10.5" />
      <origin xyz="1.18 -.00867 0" />
      <inertia ixx=".0412" ixy=".00554" ixz="0" iyy=".0947" iyz="0" izz=".0925" />
    </inertial>
  </link>

  <joint name="J4" type="revolute">
    <origin xyz="0 0 0.225" rpy="0 0 0" />
    <parent link="J3_link" />
    <child link="J4_link" />
    <axis xyz="-1 0 0" />
    <limit lower="-6.283185" upper="6.283185" effort="4000" velocity="3.141592" />
  </joint>

  <link name="J5_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j5.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j5.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="19.1" />
      <origin xyz=".0485 -.0214 0" />
      <inertia ixx=".142" ixy="-.0218" ixz="0" iyy=".169" iyz="0" izz=".209" />
    </inertial>
  </link>

  <joint name="J5" type="revolute">
    <origin xyz="1.28 0 0" rpy="0 0 0" />
    <parent link="J4_link" />
    <child link="J5_link" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.181661" upper="2.181661" effort="4000" velocity="3.141592" />
  </joint>

  <link name="J6_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/visual/j6.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/r2000ic_165f/collision/j6.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".982" />
      <origin xyz=".198 0 0" />
      <inertia ixx=".00275" ixy="0" ixz="0" iyy=".00148" iyz="0" izz=".00148" />
    </inertial>
  </link>

  <joint name="J6" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="J5_link" />
    <child link="J6_link" />
    <axis xyz="-1 0 0" />
    <limit lower="-6.283185" upper="6.283185" effort="3000" velocity="4.537856" />
  </joint>

  <link name="flange" />
  <joint name="J6-flange" type="fixed">
    <origin xyz="0.215 0 0" rpy="0 0 0" />
    <parent link="J6_link" />
    <child link="flange" />
  </joint>

  <link name="tool0" />
  <joint name="flange-tool0" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>
